node_modules
.next
.git
.gitignore
.env
.env.*
!.env.production.example
!.env.example
Dockerfile*
docker-compose*.yml
deploy
README.md
docs
docs-site
*.log
npm-debug.log
yarn-error.log
.pnpm-store
coverage
.vscode
.idea
.DS_Store
tsconfig.tsbuildinfo
next-env.d.ts
